@import "./variables.scss";

body {
    background: $bodyBackground;
    background: $bodyGradient;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    min-height: 100vh;
}

h1 {
    margin: 0;
    font-family: 'Frijole', cursive;
    font-size: 3em;
    font-weight: 400;
}

h2,
h3 {
    font-family: 'Oswald', sans-serif;
}

@media (min-width: 650px) {
    h1 {
        font-size: 5em;
    }


@media (min-width: 920px) {
    h1 {
        font-size: 8em;
    }
}

p {
    font-weight: 100;
}}