$bodyBackground: rgb(111, 208, 224);
$bodyGradient: linear-gradient(0deg,rgb(111, 208, 224) 0%, rgb(171, 228, 167) 100%);
$formBackground: #eee;
$gridColor1: #009687f5;
$gridColor2: #dc7657f5;
$gridColor3: #4bb3c1fa;
$gridColor4: #fac069f9;
$gridColor5: #67a866f9;
$gridColor6: #b94169fa;
$gridColor7: #7f62b3fa;
$gridColor8: #9fc376f9;
$gridColor9: #677bcbfa;